### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_df = pd.read_csv(file_to_load, encoding="utf-8")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players = purchase_df["SN"].unique()
players

total_players = pd.DataFrame(players).count()
total_players

total = pd.DataFrame(total_players, columns = ['Total Players'])
total

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_df["Item Name"].unique()
count_of_unique_items = pd.DataFrame(unique_items).count()
count_of_unique_items

0    179
dtype: int64

In [4]:
average_price = purchase_df["Price"].mean()
average_price

3.050987179487176

In [5]:
purchases_count = purchase_df["Purchase ID"].value_counts()
purchases_sum = purchases_count.sum()
purchases_sum

780

In [6]:
total_revenue = purchase_df["Price"].sum()
total_revenue

2379.77

In [7]:
purchasing_analysis = {'Number of Unique Items': count_of_unique_items, 'Average Price': average_price, 'Number of Purchases': purchases_sum,
                    'Total Revenue': total_revenue}
purchasing_analysis

{'Number of Unique Items': 0    179
 dtype: int64,
 'Average Price': 3.050987179487176,
 'Number of Purchases': 780,
 'Total Revenue': 2379.77}

In [8]:
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
total_players = purchase_df['Gender'].count()
total_players

780

In [10]:
m_players = (purchase_df['Gender']=='Male').sum()
m_players

652

In [11]:
f_players = (purchase_df['Gender']=='Female').sum()
f_players

113

In [12]:
other_players = (purchase_df['Gender']=='Other / Non-Disclosed').sum()
other_players

15

In [13]:
m_percentage = '{0:.2f}'.format((m_players/total_players*100))
m_percentage

'83.59'

In [14]:
f_percentage = '{0:.2f}'.format((f_players/total_players*100))
f_percentage

'14.49'

In [15]:
other_percentage = '{0:.2f}'.format((other_players/total_players*100))
other_percentage

'1.92'

In [16]:
gender_demo_totals = purchase_df["Gender"].value_counts()
gender_demo_percentage = gender_demo_totals / total_players * 100

gender_demographics = pd.DataFrame({"Total Count": gender_demo_totals,
                                    "Percentage of Players": gender_demo_percentage})

gender_demographics = gender_demographics.round(2)

gender_demographics

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
gender_purchase_count = purchase_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
gender_counts = purchase_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

av_total_purchase = gender_purchase_count / gender_demographics["Total Count"]

gender_data = pd.DataFrame({"Purchase Count": gender_counts,"Average Purchase Price": gender_average, "Total Purchase Value": gender_purchase_count, "Avg Total Purchase per Person": av_total_purchase})

gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [43]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

ages_bin = pd.cut(purchase_df["Age"], bins, labels=group_names)
ages_bin

ages_bins_df = pd.DataFrame(ages_bin)
ages_bins_df

age_group = ages_bins_df.groupby("Age")
age_group_total = age_group["Age"].count()
age_group_total

age_group_total_df = pd.DataFrame(age_group_total)
age_group_total_df.columns = ['Total Count']
age_group_total_df

age_group_total_df["Percentage of Players"] = age_group_total_df["Total Count"]/age_group_total_df["Total Count"].sum()*100
age_group_total_df

       Total Count  Percentage of Players
Age
<10             23               2.948718
10-14           28               3.589744
15-19          136              17.435897
20-24          365              46.794872
25-29          101              12.948718
30-34           73               9.358974
35-39           41               5.256410
>40             13               1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
purchase_df["Ranges"] = pd.cut(purchase_df["Age"], bins, labels = group_names)
purchase_df

age_purchase_data = purchase_df.groupby(['Ranges'])

purchase_total = age_purchase_data['Purchase ID'].count()
purchase_total

total_purchase = age_purchase_data['Price'].sum()
total_purchase

total_players = purchase_df.drop_duplicates(subset ='SN').groupby(['Ranges'])
total_players = total_players['SN'].count()
total_players

purchasing_age = pd.DataFrame(age_purchase_data['Purchase ID'].count())
purchasing_age = purchasing_age.rename(columns = {'Purchase ID':'Purchase Count'})
purchasing_age['Average Purchase Price'] = round((total_purchase/purchase_total),2)
purchasing_age['Total Purchase Value'] = total_purchase
purchasing_age['Avg Total Purchase Per Person'] = round((total_purchase/players),2)
purchasing_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Ranges,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
>40,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
spender_total = purchase_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
spender_average = purchase_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
spender_count = purchase_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")

spender_data = pd.DataFrame({"Purchase Count": spender_count, "Average Purchase Price": spender_average, "Total Purchase Value": spender_total})

spender_data.sort_values("Total Purchase Value", ascending=False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
purchase_df
popular_items = purchase_df.groupby(['Item ID','Item Name', 'Price']).agg({'Price': ['count','sum']})
popular_items.columns = popular_items.columns.droplevel(0)
popular_items_final = popular_items_sorted_by_count = popular_items.sort_values('count', ascending=False)
popular_items_final.head()

                                                            count    sum
Item ID Item Name                                    Price
178     Oathbreaker, Last Hope of the Breaking Storm 4.23      12  50.76
108     Extraction, Quickblade Of Trembling Hands    3.53       9  31.77
145     Fiery Glass Crusader                         4.58       9  41.22
82      Nirvana                                      4.90       9  44.10
37      Shadow Strike, Glory of Ending Hope          3.16       8  25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
popular_items_sort = popular_items.sort_values('sum', ascending=False)
popular_items_sort.head()

                                                            count    sum
Item ID Item Name                                    Price
178     Oathbreaker, Last Hope of the Breaking Storm 4.23      12  50.76
82      Nirvana                                      4.90       9  44.10
145     Fiery Glass Crusader                         4.58       9  41.22
92      Final Critic                                 4.88       8  39.04
103     Singed Scalpel                               4.35       8  34.80